<header class="header">
    <div class="header__container">
        <a href="#" class="header__logo">
            <img src="/images/logo.svg" alt=""></a>
        <ul class="header__socials">
            <li>
                <a href="">
                    <svg>
                        <use xlink:href="#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg>
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <svg>
                        <use xlink:href="#icon-tiktok"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</header>
