
:root {
    --primary: #000;
    --main-bg: #fff;
    --violet: #6D73E6;
    --border: rgba(109, 115, 230, 0.1);
    --white: #fff;
    --hover-color: rgba(255, 255, 255, 0.65);
    --yellow: #FFD529;

    --font-primary: 'Gilroy', sans-serif;
    --font-scondary: 'Cooper', sans-serif;


    --container-width: 1200px;
    --padding: 20px;

}
